<div class="letter-tray">
  <div class="letter-list">
    <ul>
      <li *ngFor="let year of years" class="year">
        <div (click)="toggleYear(year)" class="year-year" [class.selected]="year.selected">
          {{year.year}}
          <i class="fas fa-angle-up" [ngClass]="{ 'fa-flip-vertical': year.show }"></i>
        </div>
        <div *ngFor="let letter of letters" class="months" [ngClass]="{'show' : year.show}">
          <li *ngIf="letter.year == year.year"
              routerLink="/prayerletters/{{letter.id}}"
              [class.selected]="letter.selected">
            {{ letter.date | date: 'MMMM' }}
          </li>
        </div>
      </li>
    </ul>
  </div>
  <div class="letter">
    <div *ngIf="show">
      <a href={{letter.link}}>
        <img *ngFor="let img of letter.view" src={{img}}>
      </a>
    </div>
  </div>
</div>
