* {
  // transition: max-height 1s;
  // transition-duration: 1s;
}

.letter-tray {
  display: flex;
  width: 100%;
  margin:0;
  padding:0;
}

.letter-list {
  width: 20%;
  background-color: gray;
  color: white;
  height: 30em;
  padding: 0;
  padding-bottom: 0;
}

.letter-list ul {
  max-height: 100%;
  overflow:scroll;
  padding: .8em;
  margin: 0;
  list-style: none;
}

.letter-list ul li {
  line-height: 1.5em;
  cursor: pointer;
  overflow-x:scroll;
}

.year {
  // border-bottom: solid 1px silver;
  padding-bottom: .25em;
  align-items: center;
}

.year i {
  transition-duration: .5s;
  float: right;
  padding-right: .5em;
  margin: auto;
}

.year-year {
  cursor: pointer;
  overflow: hidden;
}

.months {
  height: 0;
  overflow: hidden;
  padding-left: .75em;
}

.show {
  height: inherit;
}

.selected {
  font-weight: 600;
  outline: none;
}

.letter {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow:hidden;
  overflow: scroll;
}

.letter img {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  border: solid thin gray;
  cursor: pointer;
}
