.banner {
  margin-left:auto;
  margin-right:auto;
  padding-top: 2em;
  padding-bottom: 3em;
}

.logo h1 {
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img {
  width: 20em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
}

.img img {
  width: 100%;
}

.view-title {
  font-size: 2em;
  text-align: center;
}

.view-title h1 {
  font-weight: lighter;
}
