.submit button {
  font-size: 1.1em;
  color:white;
  background-color: green;
  border-radius: 10px;
  padding: .75em 1.25em;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
}

.submit button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}
