
.nav-bar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  background-color: lightgray;
  line-height: 2em;
}

li {
  width: 10%;
  text-align: center;
}

a {
  margin: auto;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
