
.nav-bar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  background-color: lightgray;
  line-height: 2em;
}

li {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  outline: none;
  font-size: 1.2em;
}

li:hover {
  background-color: gray;
  cursor: pointer;
}

li:active {
  background-color: darkgray;
}

.selected {
  background-color: darkgray;
}
