.navbar {
  display: flex;
}

.nav-home {
  width: 3em;
}

.nav-home img {
  width: 3em;
}

.nav-home img:hover {
  cursor: pointer;
}

.nav {
  flex:none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
  display: flex;
}

.nav a {
  padding: .2em .6em;
  margin-bottom: auto;
  text-align: center;
  outline: none;
  color: black;
  font-size: .9em;
  // text-transform: uppercase;
  text-decoration: none;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  border-radius: 10px;
}

.nav a:hover {
  cursor: pointer;
  color: white;
  background-color: green;
}

.nav .active {
  color:white;
  background-color: green;
}

.hide {
  display: none;
}
