/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Raleway', sans-serif;
  cursor: default;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

body > * {
  flex-shrink: 0;
}

app-root {
  height: 100%;
}
