/* You can add global styles to this file, and also import other style files */
@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}


* {
  font-family: 'Raleway', sans-serif;
  cursor: default;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  width: 90%;
  margin: 1em auto;
}

body > * {
  flex-shrink: 0;
}

app-root {
  height: 100%;
}

img {
  height: auto;
}
